fio/*
!fio/logs/
books
*.bak
*.aux
*.swp
*.bbl
*.blg
*.pdf
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.lof
*.out
*.gz
*.toc
*.txt
*.lot
*.rar
*.dll
*.dvi
*.ps
*.~*
*.bcf
*.fdb_latexmk
*.fls
*.synctex(busy)
*.bcf
*.md5
*.auxlock
*.dpth
*.dep
/Atool/target/
papers/
.idea/
*.iml